* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #666;
    padding: 30px;
    min-height: 150px;
    text-align: center;
    font-size: 35px;
    color: white;
}
nav {
    background-color: #9c9c9c;
    padding: 30px;
    min-height: 70px;
    text-align: center;
    font-size: 35px;
    color: white;
}
section {
    background-color: #613f3f;
    padding: 0 30px;
    min-height: 600px;
    float: left;
    width: 70%;
    text-align: center;
    font-size: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
article{
    line-height: 250px;
    background-color: #2a62c2;
    height: 250px;
    border: 2px solid #53c7cd;
}
aside {
    background-color: #3e5d5f;
    padding: 30px;
    min-height: 600px;
    line-height: 500px;
    float: left;
    width: 30%;
    text-align: center;
    font-size: 35px;
    color: white;
}
footer {
    background-color: #1e325c;
    padding: 30px;
    min-height: 10px;
    clear: both;
    text-align: center;
    font-size: 35px;
    color: white;
}