body {

    background-color: #ffffff;
    font-family: "Times New Roman", sans-serif;
    color: #525252;
    position: relative;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-transform: none;
}
h1 {
    font-weight: 400;
    font-style: oblique;
    font-size: 42px;
    letter-spacing: .01em;
    line-height: 1.2em;
    text-transform: none;
    color: #222;
}

header {

}
hr {
    background-color: orange;
}
h4 {
    color: #525252;
}
li {
    list-style: none;
}
li > h5 {
    white-space: pre-wrap;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    letter-spacing: .15em;
    line-height: 1.4em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
}
h3 {
    white-space: pre-wrap;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .15em;
    line-height: 1.4em;
    text-transform: uppercase;
}
h4 {
    white-space: pre-wrap;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .15em;
    line-height: 1.4em;
    text-transform: uppercase;
    text-align: left;
}
p {
    text-align: justify;
    text-indent: 3em;
    line-height: 1.5em;
}
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #e63946;
    cursor: pointer;
}
a:visited {
    color: #e63946;
}
#header-id {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.book-img {
    width: 30%;
}
#scroll {
    height: 65px;
    width: 50px;
    position: sticky;
    --offset: 50px;
    margin-top: calc(100vh + var(--offset));
    /*place-self: end;*/
    bottom: 20px;
    left: 95%;
    text-decoration: none;
    z-index: 1;
}