* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
h1 {
    font-weight: 600;
    font-size: 3em;
}
hr {
    margin: 20px 0;
}
header {
    display: inline-block;
    width: 100%;
    padding: 15px 80px;
    background-color: #222222;
    position: relative;
}
.logo {
    color: white;
    float: left;
}
nav {
    float: right;
}
nav ul li {
    display: inline-block;
    padding: 15px 25px;
}
nav ul li:hover {
    background-color: rgba(255, 255, 255, .1);
}
nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 600;
}
#body {
    width: 100%;
}
#body .left-side-panel {
    float: left;
    width: 15%;
    height: 100vh;
    margin: 0;
    padding: 1em;
    text-align: center;
    background-color: #F1F1F1;
}
#body .left-side-panel ul li {
    list-style: none;
    margin-bottom: 20px;
}
#body .left-side-panel ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: blue;
}
.toggle-btn {
    width: 35px;
    position: absolute;
    right: 80px;
    top: 40px;
    display: none;
}
.toggle-btn span {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: white;
    float: left;
    margin-bottom: 8px;
}
#body .main-content {
    float: left;
    width: 70%;
    margin: 0;
    padding: 1em 40px;
}
#body .right-side-panel {
    float: left;
    width: 15%;
    height: 100vh;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background-color: #F1F1F1;
}
#body .right-side-panel .ads-banner {
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin: 10px;
    background-color: #a1a1a1;
}
#footer {
    background-color: #222222;
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;
    clear: both;
}
.icon {
    display: none;
}
/*Ipad ngang(1024 x 768)*/

@media screen and (max-width: 991px) {
    .toggle-btn {
        display: block;
    }
    nav {
        display: none;
        width: 100%;
        border-top: 1px solid #f2f2f2;
        padding-top: 20px;
        margin-top: 30px;
    }
    nav ul li {
        padding: 15px 15px;
        width: 100%;
    }
    nav.show {
        display: block;
    }
    #body .left-side-panel {
        display: none;
    }
    #body .main-content {
        width: 85%;
    }
    #body .right-side-panel {
        width: 15%;
    }
}
@media screen and (max-width: 480px){
    #body .main-content {
        display: none;
        width: 100%;
    }
    #body .right-side-panel {
        width: 100%;
        height: auto;
    }
}